<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lifestyle.retail_dashboard">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".view.inventory_managment.activity.NormsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".view.manual.ManualActivityNew" />
        <activity android:name=".view.manual.ManualActivity" />
        <activity android:name=".view.store_contact.activity.StoreContactNumberActivity" />
        <activity android:name=".view.helpcenter.HelpCenterActivity" />
        <activity android:name=".view.brand_ranking.activity.BrandRankHomActivity" />
        <activity android:name=".view.inventory_managment.activity.InventoryManagementActivity" />
        <activity
            android:name=".view.retail_audit_checklist.activity.SingleRACDetail"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.retail_audit_checklist.activity.CreateNewRACActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".view.attendance.activity.FilterAttendanceListActivity" />
        <activity android:name=".view.attendance.activity.AttendanceHomeActivity" />

        <service
            android:name="com.generalscan.bluetooth.connect.ATService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_path" />
        </provider>

        <activity android:name=".view.planogram.activity.PlanogramHomeActivity" />
        <activity android:name=".view.brandperformance.activity.BrandPerformanceActivity" />
        <activity android:name=".view.attendance.activity.AttendanceActivity" />
        <activity android:name=".view.planogram.activity.AddNewPlanogramActivity" />
        <activity android:name=".view.planogram.activity.PlanogramActivity" />
        <activity android:name=".view.planogram.activity.SinlgePlanogramActivity" />
        <activity android:name=".view.login.ForgotPasswordActivity" />
        <activity android:name=".view.homescreen.activity.HomeScreenActivty" />
        <activity android:name=".view.retail_audit_checklist.activity.backup.RetailAuditActivity" />
        <activity android:name=".view.planogram.activity.FilterPlanogamActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.report.CombinedChartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.report.PlotingGraphActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.login.ChangePasswordActivity" />
        <activity
            android:name=".view.oje.activity.OJEScoreActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.retail_audit_checklist.activity.GetRACActivity" />
        <activity android:name=".view.BarChartActivityMultiDataset" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver android:name=".utils.MyNotificationPublisher" />
    </application>

</manifest>