<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lifestyle.retail_dashboard">
    <!-- Finger Printer -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- End -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Permissions to receive and read SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" /> <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" /> <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen" />

    <application
        android:name="com.lifestyle.retail_dashboard.StylusApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.lifestyle.retail_dashboard.dasboard.svidashboard.activities.SVIListDetailsActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osd.activity.OsdLineItemDetailsActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osd.activity.OSDBinSelectActivity" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.NewCmRequestListDetailActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.NewCmRequestListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.svidashboard.activities.StoreSviDashboardActivity"></activity>



        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osdmax.activity.SviCheckInCheckOutActivity"></activity>
     <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.NewCmDashBoardActvity"
            android:label="@string/title_activity_new_cm_dash_board_actvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.shelfdge.activity.MainShelfEdgeStoreActivity"
            android:label="@string/title_activity_main_shelf_edge_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.promo.activity.MainPromotion"
            android:label="@string/title_activity_main_promotion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.wasnow.WasNowActivity"
            android:label="@string/title_activity_main_was_now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.settings.activity.MainSettingsScreen"
            android:label="@string/title_activity_main_settings_screen"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".dasboard.settings.activity.AddMoreStoreActivity" /> -->
        <!-- <activity android:name=".dasboard.settings.activity.ChangeUserStoreActivity" /> -->
        <!-- <activity android:name=".dasboard.settings.activity.EditUserProfileActivity" /> -->
        <!-- android:theme="@style/AppTheme"> -->
        <activity
            android:name="com.lifestyle.retail_dashboard.register.actvity.ForgotPassword"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lifestyle.retail_dashboard.register.actvity.MainComapanyDeviceRegistration" /> <!-- <activity android:name="retailgister.actvity.RegistrationMainActivityActivity"></activity> -->
        <activity
            android:name="com.lifestyle.retail_dashboard.register.actvity.MainPersonalRegistration"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.register.actvity.UserRegistrationMainActvity"
            android:windowSoftInputMode="stateHidden" /> <!-- <activity android:name="retailgister.actvity.RegistrationMainActivityActivity"></activity> -->
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.settings.activity.ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".dasboard.soh.activity.BuddyStoreDetailActivity" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.CMRequestDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.CMBinDeliveryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.CMRequestListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.CMDashboardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FRARequestDetailActivity" />
        <activity
            android:name=".dasboard.soh.activity.SOH_Main_Activity"
            android:label="@string/title_activity_soh__main_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lifestyle.retail_dashboard.landingscreen.activity.LandingScreenActivity"
            android:label="@string/title_activity_landing_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.storeSelection.StoreSelectionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FRAItemScanActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FRARequestListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FraNewRequestListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FRANewRequestActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FRADashboardActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.fra.actvity.FRACheckInCheckOut" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.shelfdge.activity.ShelfEdgeStoreActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.settings.activity.AddMoreStoreActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.settings.activity.ChangeUserStoreActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.settings.activity.EditUserProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.promo.activity.OpportunityLossalert_Dashboard" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.promo.activity.EossSegregation_Dashboard" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.promo.activity.QueueBuster_Dashboard" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.promo.activity.Promotion_Dashboard"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.lifestyle.retail_dashboard.DynamicNavigationMenu.NormalActivity" />
        <activity
            android:name="com.lifestyle.retail_dashboard.DynamicNavigationMenu.DynamicLeftMenu"
            android:label="@string/title_activity_dynamic_left_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dasboard.soh.Activity.SOHActivity"
            android:configChanges="orientation|screenSize"
            android:label="Store Selection Screen"
            android:screenOrientation="unspecified" />
        <activity android:name="com.lifestyle.retail_dashboard.register.actvity.DeviceRegistration" />
        <activity android:name="com.lifestyle.retail_dashboard.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifestyle.retail_dashboard.HomeScreen.Activity.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.lifestyle.retail_dashboard.registration.RegistrationActivity"
            android:label="Registration screen" />
        <activity android:name="com.lifestyle.retail_dashboard.DashboardActivity.Activity.DashboardActivity" /> <!-- <activity android:name=".RegistrationMainActivity" /> -->
        <activity android:name="com.lifestyle.retail_dashboard.login.LoginActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.AdminHomeActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.DeActivateUserDevice" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ApprovePersonalDeviceActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.MessageDisplayActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.DeActivateUser" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ApproveInactiveUserActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.AddDeleteUserStoreAccessActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.AddMoreStoreActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.BluetoothScannerActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.MobACSActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.ReadyForDeliveryActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.CreateFormActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.DeliveryActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.RePrintReceiptActivity" />
        <activity
            android:name="com.google.android.gms.samples.vision.barcodereader.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.google.android.gms.samples.vision.barcodereader.MainActivity"
            android:label="Google Vision " />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:stateNotNeeded="true"
            android:theme="@style/CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.SingleAlerationFormActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.DeliveredActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acs.activity.DeliveryListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.RegistrationMain" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ApproveMoreStoreUserActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ApproveInactiveUserListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ApproveMoreStoreUserListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ApprovePersonalDeviceListActivity" />
        <activity android:name=".dasboard.fra.Activity.FraMainActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.register.actvity.RegistrationMainActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acsDashboard.activity.ACSDashboardActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acsTailor.activity.AlterationListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acsTailor.activity.AlterationReadyForDeliveryActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.acsDashboard.activity.SingleACSDisplayActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.admin.activity.ChangeEmployeeRoleActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.abortedcart.activities.TransactionScanItemActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.abortedcart.activities.AbortedCartReportVarianceActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.abortedcart.activities.AbortedCartReportActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.abortedcart.activities.AbortedCartTransactionActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.abortedcart.activities.AbortedCartActivity" />
        <activity
            android:name="com.lifestyle.retail_dashboard.register.actvity.RegisterFisrtScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.FRSCheckInCheckOutActivity" /> <!-- ...............to prevent android.os.FileUriExposedException..................... -->
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osd.activity.OSDMainActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osd.activity.OSDOrderPageActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osd.activity.OSDLineItemsListActivity" /> <!-- ...............to prevent android.os.FileUriExposedException..................... -->
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.eoss.EOSSStockSeggeregationActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.missingBarcode.MissingBarcodeActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.eoss.PrintScreenActivity" />
        <activity android:name="com.zebra.android.devdemo.status.PrintStatusDemo" />
        <activity android:name="com.zebra.android.devdemo.discovery.BluetoothDiscovery" />
        <activity android:name="com.zebra.android.devdemo.status.PrinterStatusScreen" />
        <activity android:name="com.pushnotification.notificationactivity.PushNotificationActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osdmax.activity.SviOrderItemListActivity" />
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.osdmax.activity.SviOrderListActivity" />

        <activity android:name=".dasboard.soh.fragment.online.GetUrlBrowserActivity"
            android:label="Stylus"
            android:theme="@style/AppThemeBar"/>


<!--        <activity android:name=".dasboard.svi.SviCheckInCheckOutActivity"/>-->
<!--        <activity android:name=".dasboard.svi.max.activity.SviOrderItemListActivity"-->
<!--            android:theme="@style/AppThemeBar"/>-->


<!--        <activity android:name=".dasboard.aca.AuditCheckInCheckOutActivity"-->
<!--            android:theme="@style/AppThemeBar"-->
<!--            android:label="Aborted Cart"-->
<!--            android:configChanges="orientation|screenSize"/>-->
<!--        <activity android:name=".dasboard.aca.AuditReportTypeActivity"-->
<!--            android:theme="@style/AppThemeBar"-->
<!--            android:configChanges="orientation|screenSize"/>-->
<!--        <activity android:name=".dasboard.aca.AuditTransTypeActivity"-->
<!--            android:theme="@style/AppThemeBar"-->
<!--            android:configChanges="orientation|screenSize"/>-->
<!--        <activity android:name=".dasboard.aca.AuditReportVarianceListActivity"-->
<!--            android:theme="@style/AppThemeBar"-->
<!--            android:configChanges="orientation|screenSize"/>-->
<!--        <activity android:name=".dasboard.aca.AuditScanItemListActivity"-->
<!--            android:theme="@style/AppThemeBar"-->
<!--            android:configChanges="orientation|screenSize"/>-->


<!--        <activity android:name=".dasboard.svi.SviCheckInCheckOutActivity" />-->
<!--        <activity-->
<!--            android:name=".dasboard.svi.max.activity.SviOrderItemListActivity"-->
<!--            android:theme="@style/AppThemeBar" />-->
<!--        <activity-->
<!--            android:name=".dasboard.aca.AuditCheckInCheckOutActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:label="Aborted Cart"-->
<!--            android:theme="@style/AppThemeBar" />-->
<!--        <activity-->
<!--            android:name=".dasboard.aca.AuditReportTypeActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:theme="@style/AppThemeBar" />-->
<!--        <activity-->
<!--            android:name=".dasboard.aca.AuditTransTypeActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:theme="@style/AppThemeBar" />-->
<!--        <activity-->
<!--            android:name=".dasboard.aca.AuditReportVarianceListActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:theme="@style/AppThemeBar" />-->
<!--        <activity-->
<!--            android:name=".dasboard.aca.AuditScanItemListActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:theme="@style/AppThemeBar" />-->

        <!-- Osd -->
<!--        <activity android:name=".dasboard.svi.osd.OsdCheckIn" />-->

<!--        <activity android:name=".dasboard.svi.osd.activity.SviAllocateBinActivity"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:theme="@style/AppThemeBar"-->
<!--            android:label="Available Bin List"/>-->

<!--        <activity android:name=".dasboard.frs.FrsCheckInOutActivity"/>-->



        <activity android:name="com.lifestyle.retail_dashboard.dasboard.svi.SviCheckInCheckOutActivity" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.svi.max.activity.SviOrderItemListActivity" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.aca.activity.AuditCheckInCheckOutActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.aca.activity.AuditReportTypeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.aca.activity.AuditTransTypeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.aca.activity.AuditReportVarianceListActivity"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name="com.lifestyle.retail_dashboard.dasboard.aca.activity.AuditScanItemListActivity"
            android:configChanges="orientation|screenSize" />

        <!-- Osd -->
        <activity android:name="com.lifestyle.retail_dashboard.dasboard.svi.osd.OsdCheckIn" />

        <activity android:name="com.lifestyle.retail_dashboard.dasboard.svi.osd.activity.SviAllocateBinActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.lifestyle.retail_dashboard.dasboard.frs.activity.FrsCheckInOutActivity"/>




        <service
            android:name="com.generalscan.bluetooth.connect.ATService"
            android:enabled="true" />

       <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!--
    ATTENTION: This was auto-generated to add Google Play services to your project for
    App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
       -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Below meata-data is for Google Mobile Vision API -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <!-- Firebase Notifications -->
        <service android:name="com.pushnotification.notificationservice.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.pushnotification.notificationservice.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->


        <!-- Declare SMS Broadcast receiver -->
        <receiver android:name="com.pushnotification.myreceiver.SMSBReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.pushnotification.myreceiver.NotificationReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>



  </application>

</manifest>